        <!-- Destaques da Semana -->
        <section class="py-5">
            <div class="container">
                <h1 class="font-weight-light alert alert-dark" style="text-align: center;">Xiaomi Mi Series{{produto_nome}}</h1>
            </div>
        </section>
        <!-- /Destaques da Semana -->

        
        <!-- Preços -->
        <div class="container">

            <ul class="navbar-nav mr-auto mini-menu">
                    
                <li class="nav-item active badge badge-secondary ">
                    <a class="nav-link " style="color: black;" href="xiaomi.html">Xiaomi{{produto}}<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-item active badge badge-light" style="color: black;" href="miseries.html">Mi Series{{produto_nome}} <span class="sr-only">(current)</span></a> <br>
                    <a class="nav-item active badge badge-light" style="color: black;" href="redmiseries.html">Redmi Series<span class="sr-only">(current)</span></a><br>
                                
            </ul>

            <div class="row">
                
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="../../img/mi9.jpg" alt="" width="80%" height="225">
                        <div class="card-body">
                            <p class="card-text">Smartphone Xiaomi Mi 9 128GB 6GB RAM Azul{{produto_titulo}}</p> <br> 
                            <p class="card-text">R$ 4.049,90{{valor}} no cartão{{tipo_pagamento}}
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-credit-card-2-back" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M14 3H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                                    <path d="M11 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1zM1 9h14v2H1V9z"/>
                                </svg>
                            </p>
                            <p class="card-text">R$ 3.500,00{{valorr}} no boleto{{tipo_pagamento}}
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cash text-success" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M15 4H1v8h14V4zM1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1z"/>
                                    <path d="M13 4a2 2 0 0 0 2 2V4h-2zM3 4a2 2 0 0 1-2 2V4h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 12a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                                </svg>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="../user/fecharpedido.html" ><button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="../../img/mi9lite.jpg" alt="" width="80%" height="201">
                        <div class="card-body">
                            <p class="card-text">Smartphone Xiaomi Mi 9 Lite 128GB 6GB RAM Branco Android 9.0 Dual Chip Câmera Tripla Tela 6.39"</p> <br> 
                            <p class="card-text">R$ 2.949,90 no cartão
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-credit-card-2-back" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M14 3H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                                    <path d="M11 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1zM1 9h14v2H1V9z"/>
                                </svg>
                            </p>
                            <p class="card-text">R$ 2.598,00 no boleto
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cash text-success" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M15 4H1v8h14V4zM1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1z"/>
                                    <path d="M13 4a2 2 0 0 0 2 2V4h-2zM3 4a2 2 0 0 1-2 2V4h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 12a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                                </svg>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="../user/fecharpedido.html" ><button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="../../img/mi9t.jpg" alt="" width="80%" height="201">
                        <div class="card-body">
                            <p class="card-text">Smartphone Xiaomi MI 9T 6GB Ram 64GB Cameras 48MP + 13MP + 8MP E 20MP Glacier Blue - Global</p> <br> 
                            <p class="card-text">R$ 2.749,90 no cartão
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-credit-card-2-back" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M14 3H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                                    <path d="M11 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1zM1 9h14v2H1V9z"/>
                                </svg>
                            </p>
                            <p class="card-text">R$ 2.399,90 no boleto
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cash text-success" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M15 4H1v8h14V4zM1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1z"/>
                                    <path d="M13 4a2 2 0 0 0 2 2V4h-2zM3 4a2 2 0 0 1-2 2V4h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 12a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                                </svg>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="../user/fecharpedido.html" ><button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="../../img/mi9se.jpg" alt="" width="80%" height="225">
                        <div class="card-body">
                            <p class="card-text">Smartphone Xiaomi Mi 9 SE 64GB 6GB RAM Azul</p> <br> 
                            <p class="card-text">R$ 3.087,00 no boleto
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-credit-card-2-back" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M14 3H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                                    <path d="M11 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1zM1 9h14v2H1V9z"/>
                                </svg>
                            </p>
                            <p class="card-text">R$ 2.687,00 no boleto
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cash text-success" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M15 4H1v8h14V4zM1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1z"/>
                                    <path d="M13 4a2 2 0 0 0 2 2V4h-2zM3 4a2 2 0 0 1-2 2V4h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 12a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                                </svg>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="../user/fecharpedido.html" ><button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="../../img/mi8.jpg" alt="" width="80%" height="225">
                        <div class="card-body">
                            <p class="card-text">Smartphone Xiaomi Mi 8 6RAM 64GB Tela 5.5 AMOLED Dual Preto</p> <br> 
                            <p class="card-text">R$ 2.887,00 no boleto
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-credit-card-2-back" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M14 3H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                                    <path d="M11 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1zM1 9h14v2H1V9z"/>
                                </svg>
                            </p>
                            <p class="card-text">R$ 2.449,90 no boleto
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cash text-success" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M15 4H1v8h14V4zM1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1z"/>
                                    <path d="M13 4a2 2 0 0 0 2 2V4h-2zM3 4a2 2 0 0 1-2 2V4h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 12a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                                </svg>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="../user/fecharpedido.html" ><button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="../../img/mi8lite.jpg" alt="" width="80%" height="225">
                        <div class="card-body">
                            <p class="card-text">Smartphone Xiaomi Mi 8 Lite 64GB 4GB RAM Preto</p> <br> 
                            <p class="card-text">R$ 1.787,00 no boleto
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-credit-card-2-back" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M14 3H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                                    <path d="M11 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1zM1 9h14v2H1V9z"/>
                                </svg>
                            </p>
                            <p class="card-text">R$ 1.349,90 no boleto
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cash text-success" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M15 4H1v8h14V4zM1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1z"/>
                                    <path d="M13 4a2 2 0 0 0 2 2V4h-2zM3 4a2 2 0 0 1-2 2V4h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 12a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                                </svg>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="../user/fecharpedido.html" ><button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>
        <!-- /Preços -->